html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
  text-align: center;
}

/* Title */
.title {
  color: white;
  margin-top: 20px;
  font-family: monospace;
}

/* Timetable */

.timetable {
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.timetable-header {
  color: white;
  background-color: #FF5722;
}

.timetable-header th {
  height: 100px;
}