html {
  height: 100%;
}

body {
  background: linear-gradient( #405166 0%, #656f6f 100%);
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Title */
.title {
  color: white;
  margin-top: 20px;
  font-family: monospace;
}

/* Timetable */

.timetable {
  height: auto;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.timetable-header {
  color: white;
  background-color: #FF5722;
}

.timetable-header th {
  height: 100px;
}

.timetable-body td {
  height: 160px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.timetable-item {
  vertical-align: middle;
  text-align: center;
  color: black;
  background-color: white;
  height: 90%;
  margin: 5px;
  border: 2px solid white;
  border-radius: 10px;
}

.timetable-item h5 {
  padding-top: 10px;
}